// _BASE.SCSS donde aparecerán los resets, las variables, los mixins que necesitemos y las clases de utilidades
$colores: (
    "negro": black,
    "blanco": white,
    "naranja": #fd7d54,
    "azul": #41c3f6,
);

$fuentes: (
    "normal": "Montserrat",
);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    // outline: 1px solid blue;
}
body {
    font-family: map-get($fuentes, "normal");
    color: map-get($colores, "negro");
}

a {
    text-decoration: none;
    letter-spacing: 0.12em;
    color: map-get($colores, azul);
    &:hover {
        color: map-get($colores, naranja);
    }
    &:active {
        color: map-get($colores, azul);
    }
}
